*{
    margin: 0;
    padding: 0;
}
.img1{
    width: 30%;
    height: 65%;
    display: none;
    position: relative;
    left: -19%;
    top: 29%;
}
.img-flex{
    z-index: 1;

}
.popup-containe{
    background: #ffffff;
}
.div1{
    width: 100%;
    height: 100%;
    background: #ffffff;
}
.div2{
    width: 100%;
    height: 100%;
    background: #ffffff;
}
.div3{
    width: 100%;
    height: 100%;
    background: #ffffff;
}
.img2 {
    width: 30%;
    height: 30%;
    display: none;
    position: relative;
    top: -15%;
    left: 3%;
    -webkit-animation: img2 2s 1;
}
.img3{
    width: 30%;
    height: 60%;
    position: relative;
    left: -27%;
    top: 30%;
    display: none;
    -webkit-animation: img3 2s 1;
}
.img4{
    position: relative;
    left: 10%;
    padding-top: 8%;
    width: 80%;
    height: 80%;
    display: none;
}
.p1{
    position: absolute;
    left: 35%;
    top: 30%;
    font-width: bold;
    font-size: 40px;
    display: none;
}
.p2{
    position: absolute;
    left: 40%;
    top: 30%;
    font-size: 40px;
    font-width: bold;
    display: none;
}
.p3{
    position: absolute;
    left: 45%;
    top: 30%;
    font-size: 40px;
    font-width: bold;
    display: none;
}
.p4{
    position: absolute;
    left: 50%;
    top: 30%;
    font-size: 40px;
    font-width: bold;
    display: none;
}
.a7{
    position: absolute;
    left: 39%;
    top: 37%;
    font-size: 30px;
    font-width: bold;
    display: none;
}
.a8{
    position: absolute;
    left: 39%;
    top: 43%;
    font-size: 30px;
    font-width: bold;
    display: none;
}
.a9{
    position: absolute;
    left: 39%;
    top: 49%;
    font-size: 30px;
    font-width: bold;
    display: none;
}
.a10{
    position: absolute;
    left: 39%;
    top: 55%;
    font-size: 30px;
    font-width: bold;
    display: none;
}
.a11{
    position: absolute;
    left: 39%;
    top: 61%;
    font-size: 30px;
    font-width: bold;
    display: none;
}
.a12{
    position: absolute;
    left: 39%;
    top: 67%;
    font-size: 30px;
    font-width: bold;
    display: none;
}

a{
    text-decoration: none;
    color: #808080;
}

@-webkit-keyframes img2 {
    0%{position: relative;
        left: -30%;
        top:-80%;
    }
    10%{
        left: -25%;
        top: -75%;

    }

    40%{
        position: relative;
        left: -10%;
        top: -60%;

    }


    70% {
        position: relative;
        left: 0%;
        top: -35%;
    }
    100%{
        position: relative;
        top: -15%;
        left: 3%;
    }
}
@-webkit-keyframes img3{
    0%{
        position: relative;
        left: 150%;
    }
    100%{
        position: relative;
        left: -27%;
        top: 30%;
    }

}
@media screen and (max-width: 1366px) {
    .p1{
        position: absolute;
        left: 35%;
        top: 25%;
        font-size:30px;
    }
    .p2{
        position: absolute;
        left: 40%;
        top: 25%;
        font-size: 30px;
    }
    .p3{
        position: absolute;
        left: 45%;
        top: 25%;
        font-size: 30px;
    }
    .p4{
        position: absolute;
        left: 50%;
        top: 25%;
        font-size: 30px;
    }
    .a7{
        position: absolute;
        left: 39%;
        top: 32%;
        font-size: 20px;
    }
    .a8{
        position: absolute;
        left: 39%;
        top: 38%;
        font-size: 20px;
    }
    .a9{
        position: absolute;
        left: 39%;
        top: 44%;
        font-size: 20px;
    }
    .a10{
        position: absolute;
        left: 39%;
        top: 50%;
        font-size: 20px;
    }
    .a11{

        position: absolute;
        left: 39%;
        top: 56%;
        font-size: 20px;
    }
    .a12{
        position: absolute;
        left: 39%;
        top: 62%;
        font-size: 20px;
    }
}
.div4{
    width: 15%;
    height: 60%;
    position: absolute;
    top: 22%;
    left: 0%;
    display: none;
    text-indent: 2%;
    line-height: 150%;
}
.div5{
    width: 15%;
    height: 60%;
    position: absolute;
    top: 22%;
    left: 0%;
    display: none;
    text-indent: 2%;
    line-height: 150%;
}
.div6{
    width: 15%;
    height: 60%;
    position: absolute;
    top: 22%;
    left: 0%;
    display: none;
    text-indent: 2%;
    line-height: 150%;

}
.div7{
    width: 15%;
    height: 60%;
    position: absolute;
    top: 22%;
    left: 0%;
    display: none;
    text-indent: 2%;
    line-height: 150%;

}
.div8{
    width: 15%;
    height: 60%;
    position: absolute;
    top: 22%;
    left: 0%;
    display: none;
    text-indent: 2%;
    line-height: 150%;
}
.div9{
    width: 15%;
    height: 60%;
    position: absolute;
    top: 22%;
    left: 0%;
    display: none;
    text-indent: 2%;
    line-height: 150%;
}
@media screen and  (max-width: 900px){
    .p1{
        position: absolute;
        left: 35%;
        top: 20%;
        font-size:30px;
    }
    .p2{
        position: absolute;
        left: 40%;
        top: 20%;
        font-size: 30px;
    }
    .p3{
        position: absolute;
        left: 45%;
        top: 20%;
        font-size: 30px;
    }
    .p4{
        position: absolute;
        left: 50%;
        top: 20%;
        font-size: 30px;
    }
    .a7{
        position: absolute;
        left: 39%;
        top: 32%;
        font-size: 20px;
    }
    .a8{
        position: absolute;
        left: 39%;
        top: 36%;
        font-size: 20px;
    }
    .a9{
        position: absolute;
        left: 39%;
        top: 40%;
        font-size: 20px;
    }
    .a10{
        position: absolute;
        left: 39%;
        top: 44%;
        font-size: 20px;
    }
    .a11{

        position: absolute;
        left: 39%;
        top: 48%;
        font-size: 20px;
    }
    .a12{
        position: absolute;
        left: 39%;
        top: 52%;
        font-size: 20px;
    }
}
.div4{
    width: 15%;
    height: 60%;
    position: absolute;
    top: 22%;
    left: 0%;
    display: none;
    text-indent: 2%;
    line-height: 200%;
}
.div5{
    width: 15%;
    height: 60%;
    position: absolute;
    top: 22%;
    left: 0%;
    display: none;
    text-indent: 2%;
    line-height: 200%;
}
.div6{
    width: 15%;
    height: 60%;
    position: absolute;
    top: 22%;
    left: 0%;
    display: none;
    text-indent: 2%;
    line-height: 200%;

}
.div7{
    width: 15%;
    height: 60%;
    position: absolute;
    top: 22%;
    left: 0%;
    display: none;
    text-indent: 2%;
    line-height: 200%;

}
.div8{
    width: 15%;
    height: 60%;
    position: absolute;
    top: 22%;
    left: 0%;
    display: none;
    text-indent: 2%;
    line-height: 200%;
}
.div9{
    width: 15%;
    height: 60%;
    position: absolute;
    top: 22%;
    left: 0%;
    display: none;
    text-indent: 2%;
    line-height: 200%;
}